	<!--CLIENTES-->
	<div id="clientes" class="block">
		<div class="container">
			<div class="row">
				<div class="col-md-6 align-self-center">
					<div class="row">
						<div class="col-sm-4 col-6 mb-4">
							<a href="#" class="link-cliente">
								<img src="{{URL_BASE}}assets/institucional/images/clientes/logo1.svg" class="img-fluid"/>
							</a>
						</div>
						<div class="col-sm-4 col-6 mb-4">
							<a href="#" class="link-cliente">
								<img src="{{URL_BASE}}assets/institucional/images/clientes/logo2.svg" class="img-fluid"/>
							</a>
						</div>
						<div class="col-sm-4 col-6 mb-4">
							<a href="#" class="link-cliente">
								<img src="{{URL_BASE}}assets/institucional/images/clientes/logo3.svg" class="img-fluid"/>
							</a>
						</div>
						<div class="col-sm-4 col-6 mb-4">
							<a href="#" class="link-cliente">
								<img src="{{URL_BASE}}assets/institucional/images/clientes/logo4.svg" class="img-fluid"/>
							</a>
						</div>
						<div class="col-sm-4 col-6 mb-4">
							<a href="#" class="link-cliente">
								<img src="{{URL_BASE}}assets/institucional/images/clientes/logo5.svg" class="img-fluid"/>
							</a>
						</div>
						<div class="col-sm-4 col-6 mb-4">
							<a href="#" class="link-cliente">
								<img src="{{URL_BASE}}assets/institucional/images/clientes/logo6.svg" class="img-fluid"/>
							</a>
						</div>
						<div class="col-sm-4 col-6 mb-4">
							<a href="#" class="link-cliente">
								<img src="{{URL_BASE}}assets/institucional/images/clientes/logo7.svg" class="img-fluid"/>
							</a>
						</div>
						<div class="col-sm-4 col-6 mb-4">
							<a href="#" class="link-cliente">
								<img src="{{URL_BASE}}assets/institucional/images/clientes/logo8.svg" class="img-fluid"/>
							</a>
						</div>
						<div class="col-sm-4 col-6 mb-4">
							<a href="#" class="link-cliente">
								<img src="{{URL_BASE}}assets/institucional/images/clientes/logo9.svg" class="img-fluid"/>
							</a>
						</div>
					</div>
				</div>
				<div class="col-md-6 align-self-center">
					<div class="cliente-texto ml-5">
						<div class="imagem">
							<img src="{{URL_BASE}}assets/institucional/images/clientes-img.svg"/>
							<div class="d-inline-block pl-md-0 pl-3">
								<span>10</span>
								Anos de Experiência
							</div>
						</div>
						<div class="telefone">
							<img src="{{URL_BASE}}assets/institucional/images/phone.svg" class="img-fluid"/>
							<div class="d-inline-block pl-3">
								<span>(11) 99999 6699</span>
								Atendimento de segunda a sexta, das 7h as 18h
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--//CLIENTES-->
    {{js | raw}}