<!--SERVICOS-->
<div id="servicos" class="block">
	<div class="container">
		<h2 class="title text-center">Serviços Recentes</h2>
		<h4 class="subtitle text-center mb-4">
			Et sumi kapa namur aondeai rocus pocus
		</h4>

		<div class="button-group">
			<button type="button" class="active" data-filter="*" id="btn-all">
				Todos
			</button>
			<button type="button" data-filter=".website">Website</button>
			<button type="button" data-filter=".email">Email</button>
			<button type="button" data-filter=".apps">Apps</button>
			<button type="button" data-filter=".graficos">Gráficos</button>
		</div>

		<div class="row grid">
			<div class="col-lg-4 col-6 mb-4 element-item website apps">
				<a href="{{URL_BASE}}assets/institucional/images/servicos/1.jpg" class="popup-link">
					<img src="{{URL_BASE}}assets/institucional/images/servicos/1.jpg" class="img-fluid mb-2"/>
				</a>
				<h5 class="text-uppercase mb-1">Lorem ipsun</h5>
				<p class="mb-0">
					<span class="badge bg-light text-dark">Website</span>
					<span class="badge bg-light text-dark">Apps</span>
				</p>
			</div>
			<div class="col-lg-4 col-6 mb-4 element-item email">
				<a href="{{URL_BASE}}assets/institucional/images/servicos/2.jpg" class="popup-link">
					<img src="{{URL_BASE}}assets/institucional/images/servicos/2.jpg" class="img-fluid mb-2"/>
				</a>
				<h5 class="text-uppercase">Lorem ipsun</h5>
				<p class="mb-0 tags">
					<span class="badge bg-light text-dark">Email</span>
				</p>
			</div>
			<div class="col-lg-4 col-6 mb-4 element-item apps">
				<a href="{{URL_BASE}}assets/institucional/images/servicos/3.jpg" class="popup-link">
					<img src="{{URL_BASE}}assets/institucional/images/servicos/3.jpg" class="img-fluid mb-2"/>
				</a>
				<h5 class="text-uppercase">Lorem ipsun</h5>
				<p class="mb-0 tags">
					<span class="badge bg-light text-dark">Apps</span>
				</p>
			</div>
			<div class="col-lg-4 col-6 mb-4 element-item apps">
				<a href="{{URL_BASE}}assets/institucional/images/servicos/4.jpg" class="popup-link">
					<img src="{{URL_BASE}}assets/institucional/images/servicos/4.jpg" class="img-fluid mb-2"/>
				</a>
				<h5 class="text-uppercase">Lorem ipsun</h5>
				<p class="mb-0 tags">
					<span class="badge bg-light text-dark">Apps</span>
				</p>
			</div>
			<div class="col-lg-4 col-6 mb-4 element-item email">
				<a href="{{URL_BASE}}assets/institucional/images/servicos/5.jpg" class="popup-link">
					<img src="{{URL_BASE}}assets/institucional/images/servicos/5.jpg" class="img-fluid mb-2"/>
				</a>
				<h5 class="text-uppercase">Lorem ipsun</h5>
				<p class="mb-0 tags">
					<span class="badge bg-light text-dark">Email</span>
				</p>
			</div>
			<div class="col-lg-4 col-6 mb-4 element-item apps graficos">
				<a href="{{URL_BASE}}assets/institucional/images/servicos/6.jpg" class="popup-link">
					<img src="{{URL_BASE}}assets/institucional/images/servicos/6.jpg" class="img-fluid mb-2"/>
				</a>
				<h5 class="text-uppercase">Lorem ipsun</h5>
				<p class="mb-0 tags">
					<span class="badge bg-light text-dark">Gráficos</span>
					<span class="badge bg-light text-dark">Apps</span>
				</p>
			</div>
			<div class="col-lg-4 col-6 mb-4 element-item website">
				<a href="{{URL_BASE}}assets/institucional/images/servicos/7.jpg" class="popup-link">
					<img src="{{URL_BASE}}assets/institucional/images/servicos/7.jpg" class="img-fluid mb-2"/>
				</a>
				<h5 class="text-uppercase">Lorem ipsun</h5>
				<p class="mb-0 tags">
					<span class="badge bg-light text-dark">Website</span>
				</p>
			</div>
			<div class="col-lg-4 col-6 mb-4 element-item email">
				<a href="{{URL_BASE}}assets/institucional/images/servicos/8.jpg" class="popup-link">
					<img src="{{URL_BASE}}assets/institucional/images/servicos/8.jpg" class="img-fluid mb-2"/>
				</a>
				<h5 class="text-uppercase">Lorem ipsun</h5>
				<p class="mb-0 tags">
					<span class="badge bg-light text-dark">Email</span>
				</p>
			</div>
			<div class="col-lg-4 col-6 mb-4 element-item apps">
				<a href="{{URL_BASE}}assets/institucional/images/servicos/9.jpg" class="popup-link">
					<img src="{{URL_BASE}}assets/institucional/images/servicos/9.jpg" class="img-fluid mb-2"/>
				</a>
				<h5 class="text-uppercase">Lorem ipsun</h5>
				<p class="mb-0 tags">
					<span class="badge bg-light text-dark">Apps</span>
				</p>
			</div>
		</div>
	</div>
</div>
<!--//SERVICOS-->
{{js | raw}}
