<div id="{{idgallery}}" class="block servicos">
	<div class="container">
		<h2 class="title text-center">{{title}}</h2>
		<h4 class="subtitle text-center mb-4">{{subtitle}}</h4>

		<div class="button-group">
			<button type="button" class="active" data-filter="*" id="btn-all">
				Todos
			</button>
			{% for main in filters %}
				<button type="button" data-filter=".{{main}}">{{main}}</button>
			{% endfor %}
		</div>

		<div class="row grid">
			{% for image in images %}
				{% set tags = image.tags|split('-') %}
				<div class="col-lg-4 col-6 mb-4 element-item {% for tag in tags %} {{tag}} {% endfor %}">
					<a href="{{URL_BASE_IMAGE ~ image.image}}" class="popup-link">
						<img src="{{URL_BASE_IMAGE ~ image.image}}" class="img-fluid mb-2"/>
					</a>
					<p class="text-uppercase mb-1">{{image.text | raw}}</p>
					<p class="mb-0">
						{% for tag in tags %}
							<span class="badge bg-light text-dark">{{tag}}</span>
						{% endfor %}
					</p>
				</div>
			{% endfor %}
		</div>
	</div>
</div>
{{js | raw}}

<script>
var idgallery = '{{idgallery}}';
	// ISOTOPE
let btns = $("#" + idgallery + " .button-group button");

btns.click(function (e) {
$("#" + idgallery + " .button-group button").removeClass("active");
e.target.classList.add("active");

let selector = $(e.target).attr("data-filter");
$("#" + idgallery + " .grid").isotope({filter: selector});
});

$(window).on("load", function () {
$("#" + idgallery + " .grid").isotope({filter: "*"});
});

// MAGNIFY
$(".grid .popup-link").magnificPopup({
type: "image",
gallery: {
enabled: true,
tPrev: "Anterior",
tNext: "Próxima",
tCounter: "%curr% de %total%"
}
});
</script>
