<!--NOSSOS SERVICOS-->
<div id="" class="block servicos">
	<div class="container">
		<h2 class="title text-center">{{title}}</h2>
		<h4 class="subtitle text-center mb-4">{{subtitle}}</h4>
		<div class="row">
			
            {% for card in cards %}
            <div class="col-lg-3 col-md-6 mb-lg-0 mb-4">
            <a href="{{card.link}}" class="destaque">
					<div class="img-container mb-3">
						<img src="{{URL_BASE_IMAGE ~ card.image}}" class="img-fluid"/>
					</div>
					<h5 class="text-uppercase">{{card.title}}</h5>
					<p class="mb-0">{{card.description | raw}}</p>
				</a>
                </div>
            {% endfor %}	
			
			{#<div class="col-lg-3 col-md-6 mb-lg-0 mb-4">
				<a href="#" class="destaque">
					<div class="img-container mb-3">
						<img src="{{URL_BASE}}assets/institucional/images/destaque2.svg" class="img-fluid"/>
					</div>
					<h5 class="text-uppercase">Lorem Ipsun</h5>
					<p class="mb-0">
						Sed ut perspiciatis unde omnis iste natus error sit voluptatem
																																				                accusantium
					</p>
				</a>
			</div>
			<div class="col-lg-3 col-md-6 mb-lg-0 mb-4">
				<a href="#" class="destaque">
					<div class="img-container mb-3">
						<img src="{{URL_BASE}}assets/institucional/images/destaque3.svg" class="img-fluid"/>
					</div>
					<h5 class="text-uppercase">Malarum Tor</h5>
					<p class="mb-0">
						Sed ut perspiciatis unde omnis iste natus error sit voluptatem
																																				                accusantium
					</p>
				</a>
			</div>
			<div class="col-lg-3 col-md-6 mb-lg-0 mb-4">
				<a href="#" class="destaque">
					<div class="img-container mb-3">
						<img src="{{URL_BASE}}assets/institucional/images/destaque4.svg" class="img-fluid"/>
					</div>
					<h5 class="text-uppercase">Aondeai Pocus</h5>
					<p class="mb-0">
						Sed ut perspiciatis unde omnis iste natus error sit voluptatem
																																				                accusantium
					</p>
				</a>
			</div>#}
		</div>
	</div>
</div>
<!--//NOSSOS SERVICOS-->
{{js | raw}}
