<!--DEPOIMENTOS-->
<div id="depoimentos" class="block">
	<div class="container">
		<h2 class="title text-center">Depoimentos</h2>
		<h4 class="subtitle text-center mb-4">
			Et sumi kapa namur aondeai rocus pocus
		</h4>

		<div class="owl-carousel owl-theme owl-loaded">
			<div>
				<div class="depoimento">
					<img src="{{URL_BASE}}assets/institucional/images/user.svg"/>
					<div class="depoimento-texto pl-3">
						<p>
							Sed ut perspiciatis unde omnis iste natus error sit voluptatem
																																									                  accusantium dolorem que laudantium, totam rem aperiam, eaque																																		                  ipsa quae ab illo inventore veritatis.
						</p>
						<p class="name">
							<span>Maikel Neris</span>
							/ Diretor da Decode Web
						</p>
						<p class="mb-0">
							<img src="{{URL_BASE}}assets/institucional/images/quote.svg" class="quote float-right"/>
						</p>
					</div>
				</div>
			</div>
			<div>
				<div class="depoimento">
					<img src="{{URL_BASE}}assets/institucional/images/user.svg"/>
					<div class="depoimento-texto pl-3">
						<p>
							Sed ut perspiciatis unde omnis iste natus error sit voluptatem
																																									                  accusantium dolorem que laudantium, totam rem aperiam, eaque
																																									                  ipsa quae ab illo inventore veritatis.
						</p>
						<p class="name">
							<span>Maikel Neris</span>
							/ Diretor da Decode Web
						</p>
						<p class="mb-0">
							<img src="{{URL_BASE}}assets/institucional/images/quote.svg" class="quote float-right"/>
						</p>
					</div>
				</div>
			</div>
			<div>
				<div class="depoimento">
					<img src="{{URL_BASE}}assets/institucional/images/user.svg"/>
					<div class="depoimento-texto pl-3">
						<p>
							Sed ut perspiciatis unde omnis iste natus error sit voluptatem
																																									                  accusantium dolorem que laudantium, totam rem aperiam, eaque
																																									                  ipsa quae ab illo inventore veritatis.
						</p>
						<p class="name">
							<span>Maikel Neris</span>
							/ Diretor da Decode Web
						</p>
						<p class="mb-0">
							<img src="{{URL_BASE}}assets/institucional/images/quote.svg" class="quote float-right"/>
						</p>
					</div>
				</div>
			</div>
			<div>
				<div class="depoimento">
					<img src="{{URL_BASE}}assets/institucional/images/user.svg"/>
					<div class="depoimento-texto pl-3">
						<p>
							Sed ut perspiciatis unde omnis iste natus error sit voluptatem
																																									                  accusantium dolorem que laudantium, totam rem aperiam, eaque
																																									                  ipsa quae ab illo inventore veritatis.
						</p>
						<p class="name">
							<span>Maikel Neris</span>
							/ Diretor da Decode Web
						</p>
						<p class="mb-0">
							<img src="{{URL_BASE}}assets/institucional/images/quote.svg" class="quote float-right"/>
						</p>
					</div>
				</div>
			</div>
			<div>
				<div class="depoimento">
					<img src="{{URL_BASE}}assets/institucional/images/user.svg"/>
					<div class="depoimento-texto pl-3">
						<p>
							Sed ut perspiciatis unde omnis iste natus error sit voluptatem
																																									                  accusantium dolorem que laudantium, totam rem aperiam, eaque
																																									                  ipsa quae ab illo inventore veritatis.
						</p>
						<p class="name">
							<span>Maikel Neris</span>
							/ Diretor da Decode Web
						</p>
						<p class="mb-0">
							<img src="{{URL_BASE}}assets/institucional/images/quote.svg" class="quote float-right"/>
						</p>
					</div>
				</div>
			</div>
			<div>
				<div class="depoimento">
					<img src="{{URL_BASE}}assets/institucional/images/user.svg"/>
					<div class="depoimento-texto pl-3">
						<p>
							Sed ut perspiciatis unde omnis iste natus error sit voluptatem
																																									                  accusantium dolorem que laudantium, totam rem aperiam, eaque
																																									                  ipsa quae ab illo inventore veritatis.
						</p>
						<p class="name">
							<span>Maikel Neris</span>
							/ Diretor da Decode Web
						</p>
						<p class="mb-0">
							<img src="{{URL_BASE}}assets/institucional/images/quote.svg" class="quote float-right"/>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--//DEPOIMENTOS-->
{{js | raw}}
