<!--DEPOIMENTOS-->
<div id="depoimentos" class="block">
	<div class="container">
		<h2 class="title text-center">{{title}}</h2>
		<div class="owl-carousel owl-theme owl-loaded">
			{% for comment in comments %}
				<div>
					<div class="depoimento">
						<img src="{{URL_BASE_IMAGE ~ comment.image}}" class="thumb-testimonials"/>
						<div class="depoimento-texto ps-3">
							<p>{{comment.description | raw}}</p>
							<p class="name">
								<span>{{comment.title}}</span>
							</p>
							<p class="mb-0" align="right">
								<i class="fas fa-quote-right fa-lg quote"></i>
							</p>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
</div>
<!--//DEPOIMENTOS-->
{{js | raw}}
