{% extends './adm/template.twig' %}
{% block body %}
	{{topbar | raw}}
	{{sidemenu | raw}}
	{% if configs == false %}
	<div align="right">
		<a class="btn btn-primary btn-sm" href="{{addroute}}">
			<i class="fas fa-plus"></i>
		</a>
	</div>
	{% endif %}
	<div class="col-xl-12 col-md-12 col-sm-12">
		<div class="">
			<div class="info-title-table" align="center">Configuração do blog</div>
			{% if configs == true %}
				<div class="info-body-table">
					<div class="table-responsive">
						<table class="table table-striped">
							<thead class="thead-dark">
								<tr>
									<th scope="col">Descrição</th>
									<th scope="col">Situação</th>
									<th scope="col">Ação</th>
								</tr>
							</thead>
							<tbody>
								{% for config in configs %}
									<tr>
										<td>{{config.departament_desc}}</td>
										<td>{{config.enable == 'S' ? 'Ativo' : 'Inativo' }}</td>
										<td>
											<a class="btn btn-info btn-sm" href="{{editroute}}{{config.id}}">
												<i class="fas fa-pencil-alt"></i>
											</a>
											{# <a class="btn btn-danger btn-sm" href="#">
												<i class="far fa-trash-alt"></i>
											</a> #}
										</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			{% else %}
				<h5 align="center">
					Não há registros
				</h5>
			{% endif %}
		</div>
	</div>
	{{js | raw}}
{% endblock %}
