{% extends './adm/template.twig' %}
{% block body %}
	{{topbar | raw}}
	{{sidemenu | raw}}
	<div align="right">
		<a class="btn btn-primary btn-sm" href="{{addroute}}">
			<i class="fas fa-plus"></i>
		</a>
		<a class="btn btn-secondary btn-sm" href="{{back}}">
			<i class="fa fa-reply"></i>
		</a>
	</div>

	<ul class="nav nav-tabs" id="myTab" role="tablist">
		{# <li class="nav-item" role="presentation">
			<button class="nav-link active" id="esquerda-tab" data-bs-toggle="tab" data-bs-target="#esquerda" type="button" role="tab" aria-controls="esquerda" aria-selected="true">Coluna esquerda</button>
		</li> #}
		<li class="nav-item" role="presentation">
			<button class="nav-link active" id="centro-tab" data-bs-toggle="tab" data-bs-target="#centro" type="button" role="tab" aria-controls="centro" aria-selected="true">Centro</button>
		</li>
		{# <li class="nav-item" role="presentation">
			<button class="nav-link" id="direita-tab" data-bs-toggle="tab" data-bs-target="#direita" type="button" role="tab" aria-controls="direita" aria-selected="false">Coluna Direita</button>
		</li> #}
	</ul>

	<div class="tab-content" id="myTabContent">
		{# <div class="tab-pane fade show active" id="esquerda" role="tabpanel" aria-labelledby="equerda-tab">
			<div class="col-xl-12 col-md-12 col-sm-12">
				{{list_leftcol | raw}}
			</div>
		</div> #}
		<div class="tab-pane fade show active" id="centro" role="tabpanel" aria-labelledby="centro-tab">
			<div class="col-xl-12 col-md-12 col-sm-12">
				{{list_center | raw}}
			</div>
		</div>
		{# <div class="tab-pane fade show" id="direita" role="tabpanel" aria-labelledby="direita-tab">
			<div class="col-xl-12 col-md-12 col-sm-12">
				{{list_rightcol | raw}}
			</div>
		</div> #}
	</div>
	{{js | raw}}
{% endblock %}
