{% extends './adm/template.twig' %}
{% block body %}
	{{topbar | raw}}
	{{sidemenu | raw}}
	<div class="col-xl-12 col-md-12 col-sm-12">
		<div class="">
			<div class="info-title-table" align="center">Modulos</div>
			<div class="info-body-table">
				<div class="table-responsive">
					<table class="table table-striped">
						<thead class="thead-dark">
							<tr>
								{#<th scope="col">id</th>#}
								<th scope="col">Descrição</th>
								<th scope="col">Imagem exemplo</th>
								<th scope="col">Ação</th>
								<th scope="col">#</th>
							</tr>
						</thead>
						<tbody>
							{% for module in modules %}
								<tr>
									{#<th scope="row">{{module.id}}</th>#}
									<td>{{module.description}}</td>
									<th>
										<a style="cursor:pointer;" onclick="modules.methods.modalimg('{{URL_BASE ~ module.imagem_example}}')"><img src="{{URL_BASE ~ module.imagem_example}}" width="100px"></a>
									</th>
									<td>
										{% if  module.enable == 'N' %}
											<a class="btn btn-success btn-sm" href="{{actionEnable}}{{module.id}}">
												Ativar
											</a>
										{% else %}
											<a class="btn btn-secondary btn-sm" href="{{actionDisable}}{{module.id}}">
												Desativar
											</a>
										{% endif %}
									</td>
									<td>
										<a class="btn btn-info btn-sm {{ module.enable == 'N' ?  'disabled' : '' }}" href="{{module.enable == 'S' ? URL_BASE ~ module.module_route : '#'}}">
											<i class="fas fa-pencil-alt"></i>
										</a>
									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

	<!-- Modal imagem-->
	<div class="modal fade" id="modal_image_module" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="staticBackdropLabel">Imagem exemplo modulo</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<div id="module_imagem_example"></div>
				</div>
			</div>
		</div>
	</div>

	{{js | raw}}
{% endblock %}
