<!--FOOTER-->
<footer id="contato">
	<div class="container">
		<div class="logo py-4">
			<div class="row">
				<div class="col-md-6 align-self-center text-md-left">
					{% if brand == 1%}
						<img src="{{logoimage}}" class="img-fluid" width="120px"/>
					{% else %}
						<h1>{{logotext[0]}}<span style="color:#fc5185;">{{logotext[1]}}</span></h1>
					{% endif %}
				</div>
				<div class="col-md-6 align-self-center text-right">
					<ul>
						<li><a href="#"><img src="{{URL_BASE}}assets/institucional/images/facebook.svg"></a></li>
						<li><a href="#"><img src="{{URL_BASE}}assets/institucional/images/twitter.svg"></a></li>
						<li><a href="#"><img src="{{URL_BASE}}assets/institucional/images/instagram.svg"></a></li>
						<li><a href="#"><img src="{{URL_BASE}}assets/institucional/images/linkedin.svg"></a></li>
						<li><a href="#"><img src="{{URL_BASE}}assets/institucional/images/youtube.svg"></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</footer>
<!--//FOOTER-->
