<div id="header">
	<div class="container">
		<nav class="navbar navbar-expand-lg navbar-light justify-content-between">
			<a class="navbar-brand" href="#">
				{% if brand == 1%}
					<img src="{{logoimage}}" class="img-fluid" width="120px"/>
				{% else %}
					<h1>{{logotext[0]}}<span style="color:#fc5185;">{{logotext[1]}}</span></h1>
				{% endif %}
			</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#nav-principal" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<i class="fas fa-bars"></i>
			</button>
			<div class="collapse navbar-collapse" id="nav-principal">
				<ul class="navbar-nav ms-auto">
					{% for menu in menus %}
						{% if menu.children %}
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle" href="#" id="{{menu.id}}" role="button" data-bs-toggle="dropdown" aria-expanded="true">
									{{menu.description}}
								</a>
								<ul class="dropdown-menu toogled" aria-labelledby="{{menu.id}}">
									{% for submenu in menu.children %}
										{% if submenu.children %}
											<li class="nav-item dropdown">
												<a class="dropdown-item dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
													{{submenu.description}}
												</a>
												<ul class="dropdown-menu">
													{% for submenuchildren in submenu.children %}
														<li>
															<a class="dropdown-item" href="{{URL_BASE ~ submenuchildren.seo}}">{{submenuchildren.description}}</a>
														</li>
													{% endfor %}
												</ul>
											</li>
										{% else %}
											<li>
												<a class="dropdown-item" href="{{URL_BASE ~ submenu.seo}}">{{submenu.description}}</a>
											</li>
										{% endif %}
									{% endfor %}
								</ul>
							</li>
						{% else %}
							<li class="nav-item">
								<a class="nav-link active" aria-current="page" href="{{URL_BASE ~ menu.seo}}">{{menu.description}}</a>
							</li>
						{% endif %}

					{% endfor %}
				</ul>
			</div>
		</nav>
	</div>
</div>
{{js | raw}}
